p {
    color: darkblue;
    font-size: xx-large;
        }

/* class */        
.parrafo{
    color: rebeccapurple;
    

}

.boton{
    height: 200px;
    width: 200px;
    margin: 1px;

}

/* Id */

#lista1 {    
    color: rgb(208, 255, 0);
    font-size: xx-large;
    
}

#frutas2 {    
    color: rgb(255, 145, 0);
    font-size: x-large;
    text-emphasis-color: 25;
}

#carnes {    
    color: rgb(0, 132, 255);
    font-size: x-large;
    text-emphasis-color: 25;
}
#carnes2 {    
    color: rgb(255, 145, 0);
    font-size: x-large;
    text-emphasis-color: 25;
}
#vegetales{    
    color: rgb(255, 0, 85);
    font-size: x-large;
}

#lista2 {    
    color: rgb(255, 145, 0);
    font-size: xx-large;
}

#lista3 {    
    color: rgb(255, 145, 0);
    font-size: large;
}

#foto{
    height: 200px;
    width: 200px;
}

.dropshadow {
    float:left;
    clear:left;
    background: url(imagenes/shadowAlpha.png) no-repeat bottom right !important;
    background: url(imagenes/shadow.gif) no-repeat bottom right;
    margin: 10px 0 10px 10px !important;
    margin: 10px 0 10px 5px;
    padding: 0px;
  }
  .innerbox {
    position:relative;
    bottom:6px;
    right: 6px;
    border: 1px solid #999999;
    padding:4px;
    margin: 0px 0px 0px 0px;
  }